global-exclude ._*
recursive-include docs *.html *.txt nmlc.1
recursive-include regression *.nml *.lng *.grf *.nfo *.png *.pcx
recursive-include examples *.nml *.lng *.png *.pcx
prune regression/output
prune regression/output2
prune regression/nml_output
include Makefile bootstrap.py nmlc buildout.cfg
include regression/Makefile
include regression/beef.wav
