global-exclude ._*
recursive-include docs *.html *.txt nmlc.1
recursive-include regression *.nml *.lng *.grf *.nfo
global-include *.png *.pcx *.jpg
prune regression/output
include Makefile
include regression/Makefile
include regression/beef.wav
