name: Regression

on:
  pull_request:
  push:
    branches:
    - master

jobs:
  regression:

    name: Python ${{ matrix.python-version }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]
        python-version: ['3.7', '3.8', '3.9', '3.10', 'pypy3.7']
        exclude:
          # Prebuilt pillow wheels aren't always available for the relevant PyPy version.
          # The Ubuntu runner has zlib headers and can build it locally, but these can't without more work.
          - os: macOS-latest
            python-version: pypy3.7
          - os: windows-latest
            python-version: pypy3.7

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 2

    - name: Checkout tags
      uses: openttd/actions/checkout@v2
      with:
        with-tags: true

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
        cache: 'pip'
        cache-dependency-path: setup.py

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools
        python -m pip install -e .

    - name: Test
      run: make -C regression
      shell: bash
      env:
        NMLC: nmlc
