name: Testing

on:
  pull_request:
    branches:
    - master
  push:
    branches:
    - master

jobs:
  codeql:
    name: Security and Quality
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python 3.x
      uses: actions/setup-python@v5
      with:
        python-version: 3.x
    - name: Install dependencies
      run: python -m pip install -e .
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: python
        queries: security-and-quality
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3

  testing:
    name: Python 3.x on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macOS-latest, windows-latest]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
        cache: 'pip'
        cache-dependency-path: setup.py

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .

    # Just check we can successfully build it
    - name: Build standalone executable
      if: startsWith(matrix.os, 'windows')
      run: |
        pip install pyinstaller
        pyinstaller ./nmlc.spec

  flake8:
    name: Flake8
    uses: OpenTTD/actions/.github/workflows/rw-py-flake8.yml@v5
    with:
      python-path: nml

  black:
    name: Black
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Set up Python 3.x
      uses: actions/setup-python@v5
      with:
        python-version: 3.x
    - name: Black
      run: |
        python -m pip install --upgrade pip
        pip install black
        black -l 120 --exclude "(generated|nml/actions/action2var_variables.py|nml/actions/action3_callbacks.py)" --check --diff nml
